
@media only screen and (max-device-width: 375px) {

  .container .winner .playerPicture,
  .container .spectator .playerPicture {
    width: 25rem;
    height: 25rem;
  }

  .phonewrapper .globalheader h2 {
    font-size: 1.7rem;
  }

  .timeLockDisplay .timer {
    font-size: 7rem;
  }

  .lock .turnPhone h2 {
    font-size: 1.8rem;
  }

  .lock .turnPhone {
    margin-top: 6rem;
  }

  .lock .wheelwrapper {
    margin-top: 4rem;
    width: 33rem;
    height: 33rem;
  }

  .winner .winnerPicture p {
    font-size: 2rem;
  }

  .winner .titleWinnerWrapper h2 {
    width: 45%;
  }

  .passbomb .bombwrapper {
    height: 30rem;
  }

  .bombwrapper .bombholders {
    width: 25rem;
    height: 25rem;
  }

  .bombwrapper .bombholders li:nth-child(1) {
    left: 0;
    top: 0;
  }

  .bombwrapper .bombholders li:nth-child(2) {
    left: 18rem;
    top: 0;
  }

  .bombwrapper .bombholders li:nth-child(3) {
    left: 18rem;
    top: 18rem;
  }

  .bombwrapper .bombholders li:nth-child(4) {
    left: 0;
    top: 18rem;
  }

  .container .receive .bombPicture {
    margin-top: 13rem;
  }

}

@media only screen and (max-device-width: 350px) {

  .logoheader .logo {
    height: 20rem;
  }

  .code .codelist li {
    padding: 0 1.5rem;
    margin: 0 .5rem;
  }

  .playersWrapper .players {
    width: 80%;
  }

  .room .startbutton .button {
    font-size: 1.6rem;
  }

  .codeinputwrapper .lockicon {
    width: 3rem;
    height: 3rem;
  }

  .codeinputwrapper .codeinput {
    width: 16rem;
  }

  .powerupsList .powerup {
    width: 6rem;
    height: 6rem;
  }

  .timeLockDisplay .timeLeft {
    font-size: 1.8rem;
  }

  .timeLockDisplay .timer {
    font-size: 5rem;
  }

  .lock .turnPhone h2 {
    font-size: 1.6rem;
  }

  .lock .wheelwrapper {
    margin-top: 3rem;
    width: 28rem;
    height: 28rem;
  }

  .lock .status {
    width: 5rem;
    height: 5rem;
  }

  .dead .bangImage {
    width: 20rem;
    height: 20rem;
  }

  .titleWinnerWrapper .winnerBombImage {
    width: 6rem;
    height: 6rem;
  }

  .container .winner .playerPicture,
  .container .spectator .playerPicture {
    width: 15rem;
    height: 15rem;
  }

  .bombwrapper .bombholders li:nth-child(1) {
    left: 0;
    top: 0;
  }

  .bombwrapper .bombholders li:nth-child(2) {
    left: 18rem;
    top: 0;
  }

  .bombwrapper .bombholders li:nth-child(3) {
    left: 18rem;
    top: 18rem;
  }

  .bombwrapper .bombholders li:nth-child(4) {
    left: 0;
    top: 18rem;
  }

  .container .receivebomb .bombwrapper {
    margin-top: 2rem;
  }

  .container .receive .bombPicture {
    height: 28rem;
  }

  .container .receive .bomberimage {
    width: 6rem;
    height: 6rem;
  }

  .menu .bombmenu {
    width: 40rem;
    background-position: -2rem 14rem;
  }

}
