@import 'reset';

body {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  background-color: blue;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 41.4rem;
  height: 73.6rem;
  background: #f43d25;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.logoheader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.screw {
  width: 3rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-image: url(../assets/screw.svg);
  position: absolute;
  z-index: 9999;
}

.topleft {
  top: 1rem;
  left: 1rem;
}

.topright {
  top: 1rem;
  right: 1rem;
}

.bottomleft {
  bottom: .3rem;
  left: 1rem;
}

.bottomright {
  bottom: .3rem;
  right: 1rem;
}

.bombmenu {
  position: absolute;
  bottom: 0;
  background-image: url(../assets/bombhome.svg);
  width: 100%;
  height: 100%;
  background-size: 55rem;
  background-position: -7rem 20rem;
  background-repeat: no-repeat;
  z-index: 0;
}

.logo {
  margin-top: 5rem;
  background-size: contain;
  background-image: url(../assets/logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 35rem;
  height: 25rem;
  margin-left: -1.7rem;
}

.button {
  background-color: #ffb510;
  font-size: 2.5rem;
  padding: 2rem 4rem;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 10rem;
  border: none;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  box-shadow: 0 10px 0 rgba(0, 0, 0, .25);
  outline: none;
}

.formwrapperMenu {
  margin-top: 14rem;
  z-index: 999;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.or {
  font-size: 2rem;
  margin: 2rem auto;
  color: #4e4c51;
}

.phonewrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

input[placeholder] {
  color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .menuform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .codeinputwrapper {
  margin-top: 2rem;
}

.codeinputwrapper {
  display: flex;
  align-items: center;
}

.codeinput {
  text-align: center;
  outline: none;
  border: none;
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: inline-block;
  border-radius: 5rem;
  width: 20rem;
  color: white;
  background-color: #0f0f0f;
  background-size: 3rem;
  background-position: 2.2rem 1.4rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  box-shadow: 0 10px 0 rgba(0, 0, 0, .25);
}

.lockicon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
  background-image: url(../assets/lock-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.picture {
  font-size: 2rem;
  width: 41.4rem;
  height: 73.6rem;
  overflow-y: hidden;
}

.globalheader {
  background-color: #28262b;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  box-shadow: 0 10px 0 rgba(0, 0, 0, .1);
}

.globalheader h2 {
  width: 60%;
  text-align: center;
  line-height: 2.5rem;
  font-size: 2rem;
}

.picture .globalheader {
  /* border-bottom: 10px solid #191819; */
}

.picture .screw {
  margin-top: 0;
}

.screwleft {
  left: 2rem;
}

.screwright {
  right: 2rem;
}

.video {
  z-index: 0;
  margin-left: -24rem;
  width: 116vh;
  transform: scale(-1, 1);
}

.picturebuttonwrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3rem;
  z-index: 999;
  width: 100%;
}

.camera {
  height: 85%;
}

.mobilePictureButtonWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.picturebutton, .takePictureLabel {
  display: inline-block;
  background-color: white;
  border-radius: 10rem;
  width: 10rem;
  height: 10rem;
  border: 10px solid #ffb510;
  background-image: url(../assets/camera-icon.svg);
  background-position: center center;
  background-size: 55%;
  background-repeat: no-repeat;
  box-shadow: 0 10px 0 rgba(0, 0, 0, .1);
}

.takePictureLabel {
  transform: scale(2, 2);
}

.takePictureButton {
  width: 10rem;
  height: 10rem;
  background-color: yellow;
  transform: scale(2, 2);
  display: none;
  outline: none;
}

.room {
  background-color: white;
}

.room .button {
  font-size: 2rem;
  box-shadow: 0 6px 0 rgba(0, 0, 0, .1);
}

.code, .codelist {
  display: flex;
  align-items: center;
}

.codelist li {
  display: inline-block;
  font-size: 4rem;
  border-bottom: .5rem solid white;
  margin: 0 2rem;
  width: 2rem;
  line-height: 5rem;
}

.codewrapper {
  background-color: #f43d25;
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.coolBorder {
  margin-top: -2px;
  height: 2rem;
  width: 100%;
  background-image: url(../assets/red_border.svg);
  background-repeat: repeat-x;
  background-position: bottom left;
}

.copyCodeButton {
  width: 7rem;
  height: 7rem;
  display: inline-block;
  background-color: #ffb510;
  border-radius: 7rem;
  border: none;
  margin-left: 2rem;
  background-image: url(../assets/link-icon.svg);
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 0 rgba(0, 0, 0, .1);
  outline: none;
}

.subtitle {
  color: #232123;
  font-weight: bolder;
  margin: 3rem 0;
  text-align: center;
}

.players {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.playersWrapper {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.playerPicture {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background-size: cover;
  transform: scale(-1, 1);
  background-position: center center;
  margin: 1rem;
  border: .8rem solid #ffb510;
  box-shadow: 0 6px 0 rgba(0, 0, 0, .1);
}

.startbutton {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 2rem;
  left: 0;
}

.room .startbutton .button {
  position: relative;
  padding: 2rem 6rem;
}

.error {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: red;
}

.startButtonText {
  margin-left: -3.5rem;
}

.dotAnimationWrapper {
  right: 4.5rem;
  top: 2rem;
  display: inline-block;
  position: absolute;
}

.dot1, .dot2, .dot3 {
  position: absolute;
  animation-name: wait;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.playerPicture .dotAnimationWrapper {
  color: #0f0f0f;
  right: 5.5rem;
  top: 3rem;
}

.dot2 {
  margin-left: 1rem;
  animation-delay: .1s;
}

.dot3 {
  margin-left: 2rem;
  animation-delay: .2s;
}

.roomCode {
  width: 0;
  outline: none;
  background-color: none;
  opacity: 0;
  border: none;
  height: 0;
}

@keyframes wait {

  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

.copyNotification {
  width: 100%;
  height: 7rem;
  background-color: #f43d25;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -7rem;
  left: 0;
  transition: all .7s ease;
}

.lock {
  font-size: 2rem;
  box-sizing: border-box;
  background-color: #1f1d1f;
  border: solid 2rem #28262b;
  height: 100%;
  width: 100%;
  background-image: url(../assets/texture.svg);
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lock .topleft {
  top: 3rem;
  left: 3rem;
}

.lock .topright {
  top: 3rem;
  right: 3rem;
}

.lock .bottomleft {
  bottom: 2rem;
  left: 3rem;
}

.lock .bottomright {
  bottom: 2rem;
  right: 3rem;
}

.turnPhone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.phoneIcon {
  width: 7rem;
  height: 5rem;
  margin-right: 2rem;
  display: inline-block;
  background-image: url(../assets/phone-icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  transition: all .5s ease;
  animation-name: rotatePhone;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes rotatePhone {

  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

.wheelwrapper {
  position: relative;
  width: 36rem;
  height: 37rem;
  margin-top: 4rem;
}

@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wheelFront, .wheelShadow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 36rem;
  height: 37rem;
  background-image: url(../assets/wheelFront.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wheelFront {
  z-index: 9999;
}

.wheelShadow {
  background-image: url(../assets/wheelShadow.svg);
  position: absolute;
  top: 2rem;
  left: 0;
}

.status {
  width: 6rem;
  height: 6rem;
  background-color: #f43d25;
  display: inline-block;
  border-radius: 6rem;
  box-sizing: border-box;
  border: 6px solid rgba(0, 0, 0, .1);
}

.timeLockDisplay {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer {
  color: #ffb510;
  font-weight: bolder;
  font-size: 8rem;
}

.totalTime {
  display: inline-block;
  width: 100%;
  height: 1rem;
  position: absolute;
  bottom: 0;
}

.currentTime {
  background-color: #f43d25;
  width: 40%;
  display: inline-block;
}
