@import 'reset';

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  margin: 2rem;
}

.player {
  color: #09c;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.subtitle {
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
  color: white;
  background-color: #09c;
}

input[type='text'] {
  border: 1px solid grey;
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
  padding: 1rem;
}

section {
  margin-bottom: 3rem;
}
